<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zust.se.graduate.mapper.EventMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="edu.zust.se.graduate.entity.Event">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="details" property="details" />
        <result column="img" property="img" />
<!--        <result column="images" property="images" />-->
        <result column="total_money" property="totalMoney" />
        <result column="now_money" property="nowMoney" />
        <result column="submit_user_id" property="submitUserId" />
        <result column="operation_user_id" property="operationUserId" />
        <result column="review_user_id" property="reviewUserId" />
        <result column="start_date" property="startDate" />
        <result column="update_date" property="updateDate" />
        <result column="raise_day" property="raiseDay" />
        <result column="end_date" property="endDate" />
        <result column="priority" property="priority" />
        <result column="type" property="type" />
        <result column="stage" property="stage" />
        <result column="delete_type" property="deleteType" />
        <result column="remark" property="remark" />
    </resultMap>

    <select id="findById" resultType="edu.zust.se.graduate.entity.Event">
        select *
        from event
        where 1=1
        and id =#{id}
    </select>

    <select id="findByCondition" resultType="edu.zust.se.graduate.entity.Event">
        select *
        from event
        where 1=1
        and delete_type=0
        <if test="name != '' and name != null">
            and name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="type != null and type != 0">
            and type=#{type}
        </if>
        <if test="stage != null and stage != 0">
            and stage=#{stage}
        </if>
        <if test="outset != null">
            <if test="pageSize != null">
                limit #{outset}, #{pageSize}
            </if>
        </if>
    </select>

</mapper>